.nav-div{
    background-color: orange;
}

.nav-link:hover{
    background-color: rgb(224, 135, 3);
    color: white;
}


.navbar-collapse.collapse.show {
    max-height: 280px;
    overflow-y: auto;
  }